<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <h1>Homepage</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Drake</h5>
            <p class="card-text">Take Care (2012)</p>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
